{{{ESM_EXPORT}}}class {{{CLASS_NAME}}} extends Service {
    constructor(primaryKey) {
        super(primaryKey);
    }
{{{METHODS}}}
}
runtime.registerService('{{{CLASS_NAME}}}', {{{CLASS_NAME}}}, WARP_KEY, {{{CLASS_ID}}});